# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list some popular programming languages
- identify some commonly used libraries
- list some data science development tools
- perform some basic mathematical calculations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib 
4. Scikit-Learn

Some commonly used data science tools include:

In [3]:
%%html
<style>
table {float:left}
</style>

| Data Science Tools |
| :----------------: |
| Jupyter Notebooks |
| Visual Studio Code |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author:
Randy G